<form class="login">
{{str.form_username}} <input type="text" name="username" class="username-input" /> <br />
{{str.form_password}} <input type="password" name="password" class="password-input" /><br />
<input type="submit" value="{{str.form_login_button}}" />
<a href="/registration">{{str.form_registration_info_text}}</a>
</form>


<script src="/js/login.js"></script>