<div class="footer">
    {{str.footer_info_text}}
    <ul>
        <li><img src="/assets/images/{{str.switch_lang_img}}.svg" width="30" height="23" class="change-language" /></li>
      </ul>
</div>

<script src="/js/lang.js"></script>