<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{str.page_title}}</title>
</head>
<body>
    <div class="page">
        {{>header}}
        <div class="page-content">
            {{{body}}}
        </div>
              
    </div>
  <div class="page-footer">
            {{>footer}}
            
</div>
    <link rel="stylesheet" href="/css/structure.css">
</body>
</html>