<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{str.page_title}}</title>

          
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
 <header>{{>header}}</header>
  <div id="main">
      {{{body}}}
  </div>
  <footer>{{>footer}}</footer>
</body>
</html>
