* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main {
    display: flex;
    min-height: 100vh;
}

#main>article {
    flex: 1;
}

#main>nav,
#main>aside {
    flex: 0 0 20vw;
    background: rgb(166, 194, 243);
}

#main>nav {
    order: -1;
}

header,
article,
nav,
footer,
aside {
    padding: 15px;
    text-align: center;
}

header,
footer {
    background: rgb(85, 85, 250);
    height: 10vh;
    color: white;
}

header {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
}

header .header-title {
    flex: 1;
    margin: auto;
    text-align: left;
}

header .header-menu {
    margin: auto;
    float: left;
    list-style-type: none;
}

header .header-menu li {
    display: inline;
    margin: auto;
}

header .header-menu li a {
    padding-right: 20px;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    bottom: 0;
}

footer h2 {
    padding: auto;
    margin: auto;
}

.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard .comp {
    border: 1px solid black;
    border-radius: 15px;
    min-width: 70%;
    padding: 15px;
    margin: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

table thead tr {
    background-color: #000398;
    color: white;
    text-align: center;
}

td {
    padding: 12px 15px;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #01000b;
}

#form {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: 15px;
}